<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>


</head>

<body>
    <div id="root"></div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        //创建组件
        const Baby = Vue.extend({
            name: "Baby",
            data() {
                return {
                    name: ["灰灰"],
                    age: 1,
                }
            },
            template: `
              <div id="Baby">
                <h2 v-for="(n,index) in name" :key="index">宝宝名字：{{n}}</h2>
                <h2>宝宝年龄：{{age}}</h2>
                <button @click="addBaby">点点加宝宝</button>
              </div>
            `,
            methods: {
                addBaby() {
                    this.name.push("药药")
                }
            },
        })

        const Gubao = Vue.extend({
            name: "Gubao",
            data() {
                return {
                    action: "啵啵",
                    address: "地球",
                }
            },
            template: `
              <div id="Gubao">
                <h2>{{ action }}</h2>
                <h2>{{ address }}</h2>
                <Baby/>
              </div>
            `,
            components: {
                Baby
            }
        })

        const Hello = Vue.extend({
            name: "Hello",
            data() {
                return {
                    hello: "Hi Gubao!",
                }
            },
            template: `
                <h1>{{hello}}</h1>
            `,
        })



        const App = Vue.extend({
            components: {
                Gubao,
                Hello
            },
            template: `
                <div id="App">
                    <Hello></hello>
                    <Gubao></Gubao>
                </div>
            `
        })


        //创建实体类型
        new Vue({
            el: '#root',
            data: {

            },
            template:`
            <App/>
            `,
            //局部注册组件
            components: {
                App
            }
        })






    </script>
</body>

</html>